.accessories-colmn {
    background-color: #F7F7F6;
    padding: 0px 100px 100px;



    .d-flex {
        padding-top: 100px;
    }

    .colmn-img {
        width: 30%;
    }

    .colmn-text {
        width: 60%;

        h3 {
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
        }
    }

    +.video-section {
        margin-top: 0;
        background-color: #F7F7F6;
        margin-bottom: 0;

        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
    }

    @include breakpoint(large) {
        padding: 0px 50px 100px;

        .d-flex {
            padding-top: 50px;
        }
    }

    @include breakpoint(xmedium) {
        .colmn-img {
            width: 48%;
        }

        .colmn-text {
            width: 50%;
        }
    }

    @include breakpoint(xmedium) {
        padding: 0px 15px 50px;

        .colmn-img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .colmn-text {
            width: 100%;
            margin-top: 20px;
        }
    }

}

.video-section {
    h4 {
        text-transform: capitalize;
        margin-bottom: 0;

        &:after {
            display: none;
        }
    }

    p {
        max-width: 400px;
        text-align: left;
        margin: 0 auto;
    }
}
