h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
    font-family: $primary-font;
}

h2 {
    font-family: $primary-font-offwhite;
    font-size: 31px;
    font-weight: 300;
}

h3 {
    font-size: 27px;

    small {
        font-size: 13px;
        display: block;
    }
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 2px;
        content: "";
        background-color: $color-black;

    }
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

p {
    line-height: 1.5;
}
