// Breakpoint
$xsmall: 480px !default;
$small: 767px !default;
$medium: 768px !default;
$xmedium: 992px !default;
$large: 1200px !default;
$desktop: 1400px !default;
$xlarge: 1440px !default;
$xxlarge: 1600px !default;
$xxxlarge: 1800px !default;
// Spacing
$spacing-base: 15px;
$spacing-double: $spacing-base * 2;
$spacing-triple: $spacing-base * 3;
$spacing-four: $spacing-base * 4;
$spacing-half: $spacing-base/2;
$spacing-quarter: $spacing-half/2;
// Container
$container: 1270px !default;
$container-sm: 1100px !default;
// Width
$width-full: 100% !default;
$width-half: $width-full / 2 !default;
$width-25: $width-full / 4 !default;
$width-75: $width-full - $width-25 !default;
$full-height: $width-full;
// Font Family
// $font-family-body: 'Montserrat', sans-serif !default;
$font-family-body:'Roboto',
sans-serif;
$font-apercu:"Apercu-Medium";
$font-montserrat: 'Montserrat',
sans-serif;
$font-sourceSans: 'Source Sans Pro',
sans-serif;
$fontawesome: FontAwesome;
$primary-font:'Basis Grotesque Pro';
$primary-font-bold:'Basis Grotesque Pro Bold';
$primary-font-light:'Basis Grotesque Pro Light';
$primary-font-offwhite:'Basis Grotesque Pro Off White';
// Typography
$font-size-body: 18px !default;
$font-size-h1: 64px !default;
$font-size-h2: 31px !default;
$font-size-h3: 26px !default;
$font-size-h4: 26px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;
// $font-size-p: $font-size-body+2 !default;
$font-size-xsm: 12px;
$font-size-sm: 16px;
$font-size-lg: 18px;
// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
// Colors
$color-text: #070606;
$color-nav: #3D4144;
$color-placeholder: #252729;
$color-primary: #FFB107;
$color-background: #fcfcfc;
$color-white: #fff;
$color-black: #000;
$color-gray: #EBEBEB;
$color-bg-footer: #ebebeb;
$color-border: #979797;
// Breakpoints
$breakpoints: (xxxlarge: $xxxlarge, desktop:$desktop, xlarge: $xlarge, xsml: $xsmall, small: $small, medium: $medium, xmedium: $xmedium, large: $large, xxlarge: $xxlarge);
